# Dépendances
node_modules/

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Dossier de compilation TypeScript
dist/
build/

# Fichiers de logs générés automatiquement
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers systèmes (Mac/Windows)
.DS_Store
Thumbs.db